@using Parcial1_AP1_OrlandoLora.Models
@using Parcial1_AP1_OrlandoLora.Services




<PageTitle>Eliminar Meta</PageTitle>
<div class="container">
	<div class="card shadow-lg">
		@*Header*@
		<div class="card-header">
			<h3><strong>Eliminar Meta</strong></h3>
		</div>
		@*Body*@
		<div class="card-body col-5">
			<h3><strong>¿Éstas seguro de que quieres eliminar esta meta?</strong></h3>
			@*Datos*@
			<div class="mb-1">
				<p class="mb-0">Aporte Id: @meta.MetaId</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">Fecha: @meta.Fecha</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">Persona: @meta.Persona</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">Observaci&oacute;n: @meta.Observacion</p>
			</div>
			<div class="mb-1">
				<p class="mb-0">Monto: @meta.Monto</p>
			</div>
		</div>
		@*Footer*@
		<div class="card-footer d-flex justify-content-center">
			<div class="px-2">
				<button type="button" class="btn btn-outline-dark" @onclick="Volver"><i class="bi bi-box-arrow-left" /> Volver</button>
			</div>
			<button type="button" class="btn btn-outline-danger" @onclick="Eliminar"><i class="bi bi-trash3-fill" /> Eliminar</button>
		</div>
	</div>
</div>
@mensaje

@code {
    [Parameter]
    public int MetaId { get; set; }
    public Metas meta { get; set; } = new Meta();
    public string mensaje { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(500);
		if (metaId > 0)
			meta = await MetasService.Buscar(metaId);
	}

	public async Task Eliminar()
	{
		var eliminar = await MetasService.Eliminar(meta);
		if (eliminar)
		{
			mensaje = "La Meta se eliminó con éxito";
			await Task.Delay(2000);
			Volver();
		}
		else
			mensaje = "La Meta no se ha podido eliminar correctamente";
	}

	public void Volver()
	{
		navigation.NavigateTo("/DetailsMeta");
	}
}
